@import '../base/variables';
@import '../base/colors';

.checkbox__input {
  width: 20px;
  height: 20px;
  border: solid 1px $lightgrey;
  border-radius: 2px;

  &-hover {
    &:hover {
      border: solid 1px $green;
    }
  }

  &-error {
    border: solid 1px $magenta;
  }

  &-on {
    border: solid 1px $green;
    background-color: $green;
  }
}

/* Still toggle-switch = seriously: the following
   selectors are so complicated that I don't want to put
   them into Sass ... */

.toggle-switch__headline {
  margin-bottom: 30px;
}

.toggle-switch__headline:hover::before {
  background-color: $lightgrey;
  box-shadow: 0 0 0 1px $green;
  cursor: pointer;
}

input[type='checkbox']:checked + .toggle-switch__headline::after {
  transform: translate(23px, -50%);
}

input[type='checkbox']:checked + .toggle-switch__headline::before {
  background-color: $green;
}

.checkbox-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 5px;

  :hover {
    cursor: pointer;
  }

  input {
    position: absolute;
    opacity: 0;
  }

  label {
    display: flex;
    align-items: center;
  }

  label::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: solid 1px $lightgrey;
    margin-right: 5px;
    border-radius: 2px;
    content: '';
  }

  input[type='checkbox']:checked + label::before {
    border: 1px solid transparent;
    background-color: $green;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 65%;
  }

  input[type='checkbox']:hover + label::before {
    border: 1px solid $green;
    cursor: pointer;
  }

  input[type='checkbox']:disabled:hover + label::before {
    border-color: $lightgrey;
    cursor: not-allowed;
  }

  input[type='checkbox']:disabled:checked + label::before {
    background-color: $lightgrey;
  }

  input[type='checkbox']:disabled:checked:hover + label::before {
    border-color: $lightgrey;
    background-color: $lightgrey;
    cursor: not-allowed;
  }

  .checkbox-large {
    &::before {
      width: $baseunit * 2;
      height: $baseunit * 2;
    }
  }

  .checkbox-error {
    &::before {
      border: 1px solid $magenta;
    }
  }

  .checkbox-hover {
    &::before {
      border: 1px solid $green;
    }
  }

  .checkbox-on {
    &::before {
      border: 1px solid transparent;
      background-color: $green;
      background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 65%;
    }
  }
}
