---
import Layout from "@/layouts/Layout.astro";
import Input from "@components/SimpleInput.astro";
import Field from "@components/SimpleFieldset.astro";
import Select from "@components/SimpleSelect.astro";
import Gatekeeper from "@components/Gatekeeper-Select.astro";
import SQL_Select from "@/components/SQLinjectionSelect.astro";
import CustomerCells from "@components/Customer-cells.astro";
import Textfield from "@components/SimpleTextfield.astro";
import NavTabs from "@components/NavTabs.astro";
import FootButtons from "@components/FootButtons.astro";
import Bild from "@components/Bild.astro";
import Page from "@components/Section_tabPage.astro";
import FinishBtn from "@components/FinishButton.astro";
import PopupRotz from "@components/PopupRotz.astro";
---

<Layout
  title="STE_WEL"
  campaignNr="000003"
  jsFiles={["query_lib.js", "tteditor-config.js"]}
>
    <div class="black_overlay" id="lightbox"></div>

    <header>
        <Bild dateiname="skon.png" />
        <Bild dateiname="stadtenergie.svg" />
        <h1>Stadtenergie Welcome Call</h1>
    </header>

    <main>                     <!-- Kundeninformationen links -->
        <aside class="left_block">
            <CustomerCells
                provider="providerPattern()"
                queryId="ste_out_1()" 
            >
            </CustomerCells>
        </aside>

        <div class="middle_block">
            <NavTabs
                tabs={[
                 // ["tab1", "tab_start", "Start"], <= Auto-generiert
                    ["tab2", "tab_product", "Produkt"],
                    ["tab3", "tab_zusammenfassung", "Zusammenfassung"],
                ]}
            >
            </NavTabs>

            <form
                class="datenerf-bg"
                action="#"
                name="formular"
                method="POST"
                id="datenerfassung_form"
            >                           <!-- Anfang <form> -->
                <Page
                    id="tab_start"
                    myTab="tab1"
                    isVisible 
                >                      <!-- Anfang tab_start -->
                    <div class="history">
                        <Field 
                            id="kundenhistorie" 
                            legend="Kundenhistorie" 
                        >
                        </Field>
                    </div>
                </Page>                <!--  Ende tab_start -->
                
                <Page 
                    id="tab_product"
                    myTab="tab2"
                >                      <!-- Anfang tab_product -->
                    <span id="datenerfassung_produkt_errorMsg" class="errormessage"></span>
                    <div 
                        id="produkt" 
                        class="input_form grid"
                    >
                        <Field 
                            klasse="grid-col_1" 
                            legend="Stadtenergie Welcome Call"
                        >
                            <Gatekeeper
                                id="datenerfassung_produkt"
                                label="Kunde erreicht?"
                                options={[
                                    ["ja", "Ja"],
                                    ["nein", "Nein"],
                                ]}
                                actions={[
                                    [`ja`, 'openOnly', "datenerfassung_product"],
                                    [`ja`, 'trigger', "PAtxt1"],
                                    ["nein", "openOnly", "datenerfassung_ablehnung"],
                                    ["nein", "trigger", "NAtxt1"],
                                ]}
                                gruppe="grp1"
                                page="tab_product_gk_grp1"
                                pageLock
                            >
                            </Gatekeeper>
                        </Field>
                    </div>

                    <section id ="tab_product_gk_grp1">
                        <div
                            id="datenerfassung_product"
                            class="input_form d-none"
                            data-grp="grp1"
                        >
                            <div class="grid">
                                <Field
                                    legend="Datenerfassung"
                                    klasse="grid-col_1"
                                >
                                    <Input
                                        id="datenerfassung_email"
                                        label="E-Mail-Adresse"
                                        type="email"
                                        validate="email"
                                        blur='weiterBtn("tab_product_gk_grp1")'
                                        required
                                    >
                                    </Input>
                                    <Input
                                        id="datenerfassung_telefon"
                                        label="Abweichende Telefonnummer?"
                                        type="text"
                                        validate="tel"
                                    >
                                    </Input>
                                    <Select
                                        id="datenerfassung_lead"
                                        label="Lead"
                                        firstOption={
                                            ["Kein Lead", "Kein Lead"]
                                        }
                                        options={[
                                            ["Strom", "Strom"],
                                            ["Gas", "Gas"],
                                        ]}
                                        call="showVertragsende()"
                                    ></Select>
                                    <div
                                        id="datenerfassung_vertragsende_div"
                                        class="input_form oneColumn d-none"
                                    >
                                        <Input
                                            id="datenerfassung_vertragsende"
                                            label="Vertragsende aktueller Anbieter - tt.mm.jjjj"
                                            type="text"
                                            validate="date"
                                        >
                                        </Input>
                                    </div>
                                </Field>
                                <Field
                                    legend="Optin"
                                    klasse="grid-col_1"
                                >
                                    <Select
                                        id="datenerfassung_optin_detail"
                                        label="Optin?"
                                        call='weiterBtn("tab_product_gk_grp1")'
                                        firstOption={
                                            ["keine", "Keine Änderung der Werbeerlaubnis"]
                                        }
                                        options={[
                                            ["voll", "Volle Werbeerlaubnis"],
                                            ["schrift", "Nur schriftlich (Mail/Brief)"],
                                            ["out", "Opt-OUT !ACHTUNG! Voller Entzug der Werbeerlaubnis"],
                                        ]}
                                    >
                                    </Select>
                                </Field>
                            </div>
                        </div>
                        <div class="grid">
                            <div
                                id="datenerfassung_ablehnung"
                                class="d-none"
                                data-grp="grp1"
                            >
                                <Field
                                    legend="Kein Vertragsabschluss"
                                    klasse="grid-col_1"
                                >
                                    <SQL_Select
                                        id="datenerfassung_ablehnungsgrund"
                                        label="Ablehnungsgrund:"
                                        name="datenerfassung_ablehnungsgrund"
                                        call="weiterBtn('tab_product_gk_grp1')"
                                        load="cancellation_reasons"
                                        required
                                    >
                                    </SQL_Select>
                                </Field>
                            </div>
                        </div>
                    </section> 
                </Page>
                      <!-- Ende tab_product -->
        
            
                <Page 
                    id="tab_zusammenfassung"
                    myTab="tab3"
                >               <!-- Anfang tab_zusammenfassung -->
                    <div id="zusammenfassung_errors"></div>

                    <div
                        id="zusammenfassung"
                        class="input_form oneColumn"
                    >
                        <div class="grid">
                            <Field legend="Zusammenfassung" klasse="grid-col_1">
                                <div id="zusammenfassung_text"></div>
                            </Field>
                        </div>
                    </div>

                    <div
                        id="recording"
                        class="input_form oneColumn"
                    >
                        <div class="grid">
                            <Field 
                                legend="Aufnahme" 
                                klasse="grid-col_1 field__bg"
                            >
                                <div  
                                    id="recorddisplay" 
                                    class="recordDisplay"
                                >
                                    <div class="recordDisplay__info">
                                        <i class="glyph glyph-record"></i> 
                                        Aufnahme läuft nur für Sie
                                    </div>

                                    <div 
                                        class="go recordDisplay__Btn" 
                                        id="recordDisplay_Btn"
                                    >
                                        <button
                                            id="go_record"
                                            type="button"
                                            data-id="freedial" 
                                            class="calldialog"
                                        >
                                            <i class="glyph glyph-add"></i>
                                            Kunden aufnehmen
                                        </button>
                                    </div>

                                </div>
                            </Field>
                        </div>
                        
                    </div>

                    <div
                        id="abschliessen"
                        class="input_form oneColumn"
                    >
                        <div class="grid abschlussfeld">
                            <Field legend="Abschluss" klasse="grid-col_1 field__bg">
                            </Field>
                        </div>
                        <div 
                            class="absenden" 
                            id="div_publish"
                        >
                            <button
                                class="absenden__Btn"
                                type="button"
                                id="go_publish"
                                onclick="finish()"
                                >
                                    <i class="glyph glyph-publish"></i>
                                    Auftrag abschließen
                            </button>
                        </div>
                    </div>
                </Page>                 <!-- Ende tab_zusammenfassung -->
            
                <FinishBtn />

            </form>

            <FootButtons />
            
        </div>
    </main>

    <PopupRotz />

    <div 
        id="debugLog" 
        class="debug-window d-none"
    >
        <button 
            type="button" 
            onclick="debugWindowClear()"
        >
            clear
        </button>
    </div>
</Layout>
