---
import Layout from "@/layouts/Layout.astro";
import Input from "@components/SimpleInput.astro";
import Field from "@components/SimpleFieldset.astro";
import Select from "@components/SimpleSelect.astro";
import Gatekeeper from "@/components/GatekeeperSelect.astro";
import Gate from "@/components/Gate.astro";
import GateGroup from "@/components/GateGroup.astro";
import SQL_Select from "@/components/SQLinjectionSelect.astro";
import Suggestion from "@components/SuggestionInput.astro";
import NavTabs from "@components/NavTabs.astro";
import TabPage from "@/components/TabPage.astro";
import TabWrapper from "@components/TabWrapper.astro";
import IfDiv from "@components/IfDiv.astro";
import NextPageBtn from "@/components/WeiterButton.astro";
import FinishBtn from "@components/FinishButton.astro";
import RecordBtn from "@components/Button_Record.astro";
---
                <!-- Grunddaten -->
<Layout     .:
    campaignNr="000003"
    campaignTitle="ste-wel"
    jsFiles={["tteditor-config.js", "query_lib.js"]}
    header_imgs={["skon.png", "stadtenergie.svg"]}
    header_title="Stadtenergie Welcome Call"
    pattern="providerPattern()"
    query="main_query()" 
 >                 <!-- main -->

    <NavTabs
        tabs={[
        //  ["tab1","tab_start", "Start"], <= Auto-generiert
            ["tab2","tab_product", "Produkt"],
            ["tab3","tab_zusammenfassung", "Zusammenfassung"],
        ]}
    >
    </NavTabs>

    <TabWrapper>              <!-- Anfang <form> -->
        <TabPage
            id="tab_start"
            tab="tab1"
            isVisible 
        >                      <!-- tab_start -->
            <section class="history grid">
                <Field 
                    id="kundenhistorie" 
                    legend="Kundenhistorie" 
                    klasse="dis-p grid-col_center"
                >
                </Field>
    
                <Field
                    id="customertxt"
                    legend="Zusätzliche Informationen"
                    klasse="dis-p grid-col_center"
                >
                <span id="wievorDatabox"></span>
                <span id="customerstartinfos"></span>
                </Field>
                <RecordBtn id="testrecbtn" callState="2" showInfo txt_info="Der Kunde" txt_btn="ist Sauer"></RecordBtn>
            </section>
        </TabPage>          <!--  Ende tab_start -->
        
        <TabPage 
            id="tab_product"
            tab="tab2"
        >                      <!-- tab_product -->  
            <section 
                id="produkt" 
                class="input_form grid"
            >
            <span id="datenerfassung_produkt_errorMsg" class="errormessage"></span>
                <Field 
                    klasse="grid-col_center" 
                    legend="Stadtenergie Welcome Call"
                >
                    <Gatekeeper
                        id="datenerfassung_produkt"
                        label="Kunde erreicht?"
                        options={[
                            ["ja", "Ja"],
                            ["nein", "Nein"],
                        ]}
                        actions={[
                            [`ja`, 'openOnly', "datenerfassung_product"],
                            [`ja`, 'open', "kauf"],
                            [`ja`, "setValue{ja}", "datenerfassung_input"],
                            [`ja`, 'trigger', "PAtxt1"],
                            ['ja', 'true', 'Global.posSale'],
                            ["nein", "openOnly", "datenerfassung_ablehnung"],
                            [`nein`, 'close', "kauf"],
                            ["nein", "trigger", "NAtxt1"],
                            ["nein", ["setValue{7000},disable"], "datenerfassung_ablehnungsgrund"],
                            ['nein', 'false', 'Global.posSale'],
                        ]}
                       
                        gate="gk_grp1"
                        submitTo="firstname, ste_wel_adressdata, Global.calldatatableId"
                        pageLock
                        required
                    >
                    </Gatekeeper>  

                    <GateGroup 
                        id="kauf"
                        klasse="d-none"
                        group="grp3"    
                    >
                        <Suggestion
                        id = "datenerfassung_input"
                        label="Kunde kaufwillig?"
                        options={[
                            "ja",
                            "nein",
                        ]}
                        
                        actions={[
                            [`ja`, 'openOnly', "datenerfassung_product"],
                            [`ja`, 'trigger', "PAtxt1"],
                            ["nein", "openOnly", "datenerfassung_ablehnung"],
                            ["nein", "enable", "datenerfassung_ablehnungsgrund"],
                            ["nein", "trigger", "NAtxt1"],
                            ["default", "close", "all{grp1}"]
                        ]}

                        type="txt"
                        validate="txt"
                        gatekeeper
                        gate="gk_grp1"
                        submitTo="surname, ste_wel_adressdata, Global.calldatatableId"
                        >
                        </Suggestion>
                    </GateGroup> 
                </Field>
            </section>

            <Gate 
                id="gk_grp1" 
                klasse="grid"
            >
                <GateGroup
                    id="datenerfassung_product"
                    klasse="input_form grid-col_center d-none"
                    group="grp1"
                >
                    <Field
                        legend="Datenerfassung"
                        klasse="grid-col_center"
                    >
                        <Input
                            id="datenerfassung_email"
                            label="E-Mail-Adresse"
                            type="email"
                            validate="email"
                            blur='showWeiterBtn("gk_grp1")'
                            required
                        >
                        </Input>
                        <Input
                            id="datenerfassung_telefon"
                            label="Abweichende Telefonnummer?"
                            type="text"
                            validate="tel"
                            blur='showWeiterBtn("gk_grp1")'
                        >
                        </Input>
                        <Gatekeeper
                            id="datenerfassung_lead"
                            label="Lead"

                            firstOption={
                                ["keinLead", "Kein Lead"]
                            }
                            
                            options={[
                                ["strom", "Strom"],
                                ["gas", "Gas"],
                            ]}
                            actions={[
                                ["strom","openOnly","vertragsende_datagrp"],
                                ["strom","trigger","VEs01"],
                                ["gas","openOnly","vertragsende_datagrp"],
                                ["gas","trigger","VEg01"]
                            ]}
                            required
                            gate="gk_gate2"
                            submitTo="lead, ste_wel_providerdata, Global.calldatatableId"
                        ></Gatekeeper>
                        <Gate
                            id="gk_gate2"
                        >
                            <GateGroup
                                id="vertragsende_datagrp"
                                klasse="input_form oneColumn d-none"
                                group="grp2"
                            >
                                <Input
                                    id="vertragsende_dataErf"
                                    label="Vertragsende aktueller Anbieter - tt.mm.jjjj"
                                    type="text"
                                    validate="date"

                                    blur='showWeiterBtn("gk_grp1")'

                                    required
                                >
                                </Input>
                            </GateGroup>
                        </Gate>
                    </Field>
                    <Field
                        legend="Optin"
                        klasse="grid-col_center"
                    >
                        <Select
                            id="datenerfassung_optin_detail"
                            label="Optin?"
                            call='showWeiterBtn("tab_product_gk_grp1")'
                            firstOption={
                                ["keine", "Keine Änderung der Werbeerlaubnis"]
                            }
                            options={[
                                ["voll", "Volle Werbeerlaubnis"],
                                ["schrift", "Nur schriftlich (Mail/Brief)"],
                                ["out", "Opt-OUT !ACHTUNG! Voller Entzug der Werbeerlaubnis"],
                            ]}
                        >
                        </Select>
                    </Field>
                </GateGroup>

                <GateGroup 
                    id="datenerfassung_ablehnung"
                    klasse="grid-col_center d-none"
                    group="grp1"    
                >
                        <Field
                            legend="Kein Vertragsabschluss"
                            klasse="grid-col_center"
                        >
                            <SQL_Select
                                id="datenerfassung_ablehnungsgrund"
                                label="Ablehnungsgrund:"
                                name="datenerfassung_ablehnungsgrund"
                                call="showWeiterBtn('gk_grp1')"
                                load="cancellation_reasons"
                                required
                            >
                            </SQL_Select>
                        </Field>
                </GateGroup>
            </Gate> 
        </TabPage>         <!-- Ende tab_product -->
                               
        <TabPage 
            id="tab_zusammenfassung"
            tab="tab3"
        >                 <!-- tab_zusammenfassung -->
            <Gate
                id="zusammenfassung"
                klasse="input_form oneColumn grid"
            >
                <GateGroup 
                    klasse="grid-col_center"
                    group="endCard"
                >
                    <div id="zusammenfassung_errors"></div>
                    <Field legend="Zusammenfassung">
                        <div id="zusammenfassung_text" class="dis-p" ></div>
                    </Field>
                </GateGroup>
            
                <IfDiv
                    id="recording"
                    klasse="input_form grid-col_center d-none"
                    group="endCard"
                    If={[
                        ["hasValue{015204817689}", "datenerfassung_telefon"]
                    ]} 
                >
                    <Field 
                        legend="Aufnahme" 
                        klasse="grid-col_center field__bg"
                    >
                        <RecordBtn id="endCardRec" showInfo></RecordBtn>
                    </Field>
                </IfDiv>
            </Gate>

            <IfDiv
                id="abschliessen"
                klasse="input_form oneColumn"
                If={[
                    ["active","datenerfassung_produkt"],
                    ["and","datenerfassung_product"],
                    ["filled", "datenerfassung_email"],
                    ["or", "datenerfassung_telefon"]
                ]}
            >
            <FinishBtn auto></FinishBtn>
            </IfDiv>
            
        </TabPage>          <!-- Ende tab_zusammenfassung -->         
        <NextPageBtn></NextPageBtn> 
    </TabWrapper>                 <!-- Ende main -->
 </Layout>