---
import Layout from "@/layouts/Layout.astro";
import Input from "@components/SimpleInput.astro";
import Campaign from "@components/CampaignSelect.astro";
import Field from "@components/SimpleFieldset.astro";
import Select from "@components/SimpleSelect.astro";
import Gatekeeper from "@components/Gatekeeper-Select.astro";
import SQL_Select from "@components/SQL_InsertSelect.astro";
import BasicCampaign from "@components/BasicCampaign.astro";
import Textfield from "@components/SimpleTextfield.astro";
import NavTabs from "@components/NavTabs.astro";
import FootButtons from "@components/FootButtons.astro";
import Bild from "@components/Bild.astro";
import CampaignSelect from "@components/CampaignSelect.astro";
import FinishBtn from "@components/FinishButton.astro";
import PopupRotz from "@components/PopupRotz.astro";
---

<Layout
  title="STE_WEL"
  campaignNr="000003"
  jsFiles={["outbound.js", "outbound_logic.js"]}
>
  <div class="black_overlay" id="lightbox"></div>

  <header>
    <Bild dateiname="skon.png" />
    <Bild dateiname="stadtenergie.svg" />
    <h1>Stadtenergie Welcome Call</h1>
  </header>

  <main>
    <!-- Kundeninformationen links -->
    <aside class="left_block">
      <div id="customer_info"></div>
      <div id="nav_buttons"></div>
    </aside>

    <div class="middle_block">
      <NavTabs
        tabs={[
          ["tab2", "tab_produkt", "Produkt"],
          ["tab3", "tab_zusammenfassung", "Zusammenfassung"],
        ]}
      />

      <!-- Anfang <form> -->
      <form
        class="datenerf-bg"
        action="#"
        name="formular"
        method="POST"
        id="datenerfassung_form"
      >
      <div id="rec-warn" class="record_indicator d-none" >   Aufnahme läuft...</div>
        <!-- Anfang tab_start -->
        <div
          id="tab_start"
          class="tab_content activeTab"
          style="display: block;"
        >
          <div id="kundenhistorie" class="history">
            <Field legend="Kundenhistorie" />
          </div>
        </div>
        <!--  Ende tab_start -->

        <!-- Anfang tab_produkt -->
        <div id="tab_produkt" class="tab_content" style="display: none;">
          <span id="datenerfassung_error_produkt" class="errormessage"></span>
          <div id="produkt" class="input_form grid">
            <Field klasse="grid-col_1" legend="Stadtenergie Welcome Call">
              <Gatekeeper
                id="datenerfassung_produkt"
                label="Kunde erreicht?"
                options={[
                  ["ja", "Ja"],
                  ["nein", "Nein"],
                ]}
                actions={[
                  [`ja`, 'open', "datenerfassung_product"],
                  ["nein", "open", "datenerfassung_ablehnung"],
                ]}
                gruppe="grp1"
                alwaysClose
                />
            </Field>
          </div>

          <div
            id="datenerfassung_product"
            class="input_form d-none"
            data-grp="grp1"
          >
            <div class="grid">
              <Field legend="Datenerfassung" klasse="grid-col_1">
                <Input
                  id="datenerfassung_email"
                  label="E-Mail-Adresse"
                  type="email"
                />
                <Input
                  id="datenerfassung_telefon"
                  label="Abweichende Telefonnummer?"
                  type="text"
                  blur="showVerabschiedungBtn()"
                />
                <Select
                  id="datenerfassung_lead"
                  label="Lead"
                  firstOption={["Kein Lead", "Kein Lead"]}
                  options={[
                    ["Strom", "Strom"],
                    ["Gas", "Gas"],
                  ]}
                  call="showVertragsende()"
                />
                <div
                  id="datenerfassung_vertragsende_div"
                  class="input_form oneColumn"
                  style="display: none;"
                >
                  <Input
                    id="datenerfassung_vertragsende"
                    label="Vertragsende aktueller Anbieter - tt.mm.jjjj"
                    type="text"
                  />
                </div>
              </Field>
              <Field legend="Optin"
              klasse="grid-col_1">
                <Select
                  id="datenerfassung_optin_detail"
                  label="Optin?"
                  call="showzusammenfassung()"
                  firstOption={["keine", "Keine Änderung der Werbeerlaubnis"]}
                  options={[
                    ["voll", "Volle Werbeerlaubnis"],
                    ["schrift", "Nur schriftlich (Mail/Brief)"],
                    ["out", "Opt-OUT !ACHTUNG! Voller Entzug der Werbeerlaubnis"],
                  ]}
                />
              </Field>
            </div>

            <!-- Quell-Datei index.html der STE_WEL hat an dieser Stelle <div> mit Email-Abgleich und Freitext. Wird nie benutzt? -->
        </div>

          <div class="grid">
            <div
              id="datenerfassung_ablehnung"
              class="d-none"
              data-grp="grp1"
            >
            <Field legend="Kein Vertragsabschluss" klasse="grid-col_1">
              <SQL_Select
                id="datenerfassung_ablehnungsgrund"
                label="Ablehnungsgrund:"
                name="datenerfassung_ablehnungsgrund"
                call="showVerabschiedungBtn()"
              />
            </Field>
            </div>
          </div>
        </div>
    
      
        
        <!-- Ende tab_produkt -->
        
        <!-- Anfang tab_zusammenfassung -->
        <div class="tab_content" id="tab_zusammenfassung" style="display: none">
          <div id="zusammenfassung_errors"></div>

          <div
            id="zusammenfassung"
            class="input_form oneColumn"
            style="display: block"
          >
            <div class="grid">
              <Field legend="Zusammenfassung" klasse="grid-col_1">
                <div id="zusammenfassung_text" style="display: block"></div>
              </Field>
            </div>
          </div>

          <div
            id="recording"
            class="input_form oneColumn"
            style="display: none"
          >
            <div class="grid">
              <Field legend="Aufnahme" klasse="grid-col_1">
              
                <span id="record_div">
                    &nbsp;Bitte die Aufnahme starten
                </span>
              
                <div class="go--left">
                  <button class="gray_btn" onclick="recordSummary('record_div');return false;">
                    <strong class="glyph"></strong>
                    &nbsp;Aufnahme
                  </button>
                </div>
              </Field>
            </div>
          </div>

          <div
            id="abschliessen"
            class="input_form oneColumn"
            style="display: none"
          >
              <div class="grid">
                <Field legend="Abschluss" klasse="grid-col_1">
                  <div class="go--left">
                    <button onclick="" class="gray_btn">
                      <strong class="glyph"></strong>
                      &nbsp;Auftrag abschließen
                    </button>
                  </div>
                </Field>
              </div>
          </div>
            
        </div>
        
        <!-- Ende tab_zusammenfassung -->

        <FinishBtn />
      </form>

      <FootButtons />
    </div>
  </main>
  <PopupRotz />
</Layout>
