@import '../base/variables';

.spinner-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.spinner-image {
  height: $baseunit * 5;
}

.spinner-image--small {
  height: $baseunit * 1.5;
}
