---
import Layout from '@/layouts/Layout.astro';
import Input from '@/components/SimpleInput.astro';
import Campaign from '@/components/CampaignSelect.astro';
import Field from '@/components/SimpleFieldset.astro';
import Select from '@/components/SimpleSelect.astro';
import SQL_Select from '@/components/SQL_InsertSelect.astro';
import BasicCampaign from '@/components/BasicCampaign.astro';
import Textfield from '@/components/SimpleTextfield.astro';
import NavTabs from '@/components/NavTabs.astro';
import FootButtons from '@/components/FootButtons.astro';
import Bild from '@/components/Bild.astro';
---

<Layout title="gkm-beispiel">
    <form name="F1" onsubmit="return false"></form>
    <div class="black_overlay" id="lightbox"></div>
    <header>
        <Bild
            logo='skon';
        />
        <Bild
            logo='telekom';
        />
        <h1>Telekom Geschäftskunden MF KEK</h1>
    </header>
    <main>
        <aside class="left_block">
          <div id="nav_buttons" class="customer_info"></div>
        </aside>
        <div id="middle_block">
            <NavTabs 
                id="navigation"
                tabs={[
                    "KEK",
                ]}
            />
            <div class="go">
                <button onclick="fensterOeffnen();return false;">
                    <strong class="glyph"></strong>
                    &nbsp;CEA-Maske
                </button>
            </div>
            <div id="kundenhistorie" class="go">

                <fieldset><legend>Kundenhistorie</legend></fieldset>
              </div>
        </div>
    </main>
    <div id="dummyText" style="display: none"></div>
    <div id="div_sqldebug" style="display: none;"></div>
</Layout>
