#customerCells {
    display: grid;
    gap: .22em;
    grid-template-columns: 1fr 1fr;
	margin-top: 2.3em;
    max-width: 23.5em;
    position: fixed;
}

.cell {
    background-color: #e5f3ff;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1px;
}

.cell__head,
.cell__data {
    padding: 5px 3px;
}

.cell__head {
    background-color: #C1DDFE;
    font-weight: bold;
}

.cell__data {
    background-color: #e5f3ff;
}

.separator {
    grid-column: span 2;
    margin-bottom: 15px;
}