@import '../base/colors';
@import '../base/fonts';
@import '../base/variables';

[data-tooltip] {
  position: relative;
}

// Positioning and visibility settings of the tooltip //
[data-tooltip]::before,
[data-tooltip]::after {
  position: absolute;
  z-index: 2;
  bottom: calc(100% + 5px);
  left: 50%;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  visibility: hidden;
  will-change: transform;
}

// The actual tooltip with a dynamic width //
[data-tooltip]::before {
  width: max-content;
  width: max-content;
  min-width: $baseunit * 3.125;
  max-width: $baseunit * 18.75;
  padding: $baseunit * 0.813 $baseunit * 0.75;
  background-color: $anthracite;
  border-radius: 1px;
  color: $white;
  content: attr(data-tooltip);
  font-size: $baseunit * 1;
  transform: translate(-50%, -5px) scale(0.5);
  white-space: pre-wrap;
}

// Tooltip arrow //
[data-tooltip]::after {
  border-width: 5px 5px 0;
  border-style: solid;
  border-color: $anthracite transparent transparent transparent;
  content: '';
  transform: translateX(-50%) scaleY(0);
  transform-origin: top;
  transition-duration: 0s;
}

// Tooltip becomes visible at hover //
[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
}

// Scales from 0.5 to 1 -> grow effect //
[data-tooltip]:hover::before {
  transform: translate(-50%, -5px) scale(1);
  transition-delay: 0.1s;
}

// Slide down effect only on mouseenter (NOT on mouseleave) //
[data-tooltip]:hover::after {
  transform: translateX(-50%) scaleY(1);
  transition-delay: 0.2s; // Starting after the grow effect //
  transition-duration: 0.2s;
}
//
adjustments for different directions [data-tooltip-location='left']::before,
[data-tooltip-location='left']::after {
  right: calc(100% + 5px);
  bottom: 50%;
  left: auto;
}

// Tooltip //
[data-tooltip-location='left']::before {
  transform: translate(-5px, 50%) scale(0.5);
}

[data-tooltip-location='left']:hover::before {
  transform: translate(-5px, 50%) scale(1);
}

// Arrow //
[data-tooltip-location='left']::after {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent $anthracite;
  transform: translateY(50%) scaleX(0);
  transform-origin: left;
}

[data-tooltip-location='left']:hover::after {
  transform: translateY(50%) scaleX(1);
}

// RIGHT //
[data-tooltip-location='right']::before,
[data-tooltip-location='right']::after {
  bottom: 50%;
  left: calc(100% + 5px);
}

[data-tooltip-location='right']::before {
  transform: translate(5px, 50%) scale(0.5);
}

[data-tooltip-location='right']:hover::before {
  transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location='right']::after {
  border-width: 5px 5px 5px 0;
  border-color: transparent $anthracite transparent transparent;
  transform: translateY(50%) scaleX(0);
  transform-origin: right;
}

[data-tooltip-location='right']:hover::after {
  transform: translateY(50%) scaleX(1);
}

// BOTTOM //
[data-tooltip-location='bottom']::before,
[data-tooltip-location='bottom']::after {
  top: calc(100% + 5px);
  bottom: auto;
}

[data-tooltip-location='bottom']::before {
  transform: translate(-50%, 5px) scale(0.5);
}

[data-tooltip-location='bottom']:hover::before {
  transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location='bottom']::after {
  border-width: 0 5px 5px;
  border-color: transparent transparent $anthracite transparent;
  transform-origin: bottom;
}
