---
// Import pages using glob
const pages = import.meta.glob("../pages/**/*.astro", { eager: true });

// Generate paths from the pages object
// This assumes the keys are paths you want to link to
const paths = Object.keys(pages).map(path => {
  // Remove the "../pages" part and "/index.astro", if present
  let formattedPath = path.replace('../pages', '').replace('/index.astro', '');
  // Ensure we start with a slash for consistency
  return formattedPath;
});
---

<!doctype html>
<html>
  <head>
    <title>Page Links</title>
  </head>
  <body>
    <h1>Page Links</h1>
    <ul>
        {paths.map((path) => <li><a href={path}>{path}</a></li>)}
    </ul>
  </body>
</html>
