// Status Icon

.icon-status {
  &--active {
    display: flex;
    width: $baseunit * 2;
    height: $baseunit * 2;
    align-items: center;
    justify-content: center;
    margin-top: $baseunit;
    background-color: $blue;
    border-radius: 2px;
  }

  &--inactive {
    @extend .icon-status--active;

    background-color: $magenta;
  }
}
