<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
        }
        body {
            background: #fff;
            color: #333;
            font-family: sans-serif;
            margin: 0;
            padding: 2em;
        }

        .exchange {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .grid_col--1 {
            grid-columns: 1/2;
        }

        .grid_cal--2 {
            grid-column: 2/3;
        }

        .post_btn {
            background-color: green;
            max-height: 80px;
            width: 125px;
        
        }

        .post_btn--canvas {
            display: flex;
            align-items: center;
            height: 120px;
        }

         .wrapper {
            margin: 0 auto;
            max-width: 900px;
        }
    </style>
</head>
<body class="wrapper">
    <div class="header"></div>
        <form action="post">
            <section class="exchange">
                <div class="grid_col--1">
                    <fieldset>
                        <legend>Startw채hrung</legend>
                        <div>
                            <label for="startCurrency"> From </label>
                            <select name="fromCurrency" id="startCurrency">
                                <option value="0">"[Bitte Ausw채hlen]"</option>
                            </select>
                        </div>
                        <input name="frommoneyvalue" id="moneyvalue" type="number">
                    </fieldset>
                </div>
                <div class="grid_col--2">
                    <fieldset>
                        <legend>Zielw채hrung</legend>
                        <div>
                            <label for="extCurrency">To</label>
                            <select name="toCurrency" id="extCurrency">
                                <option value="0">"[Bitte Ausw채hlen]"</option>
                            </select>
                        </div>
                        <input name="tomoneyvalue" id="moneyexchange" type="text">
                    </fieldset>
                </div>
                <div class="post_btn--canvas">
                    <button class="post_btn" type="submit">Absenden</button>
                </div>
            </section>
        </form>
        <fieldset>
            <p class="awnser"></p>
        </fieldset>
    
</body>
</html>