---
import { callGetStaticPaths } from 'node_modules/astro/dist/core/render/route-cache';

interface Props {
  provider: string;
  queryId: String;
}

/**   Zur Erzeugung der CustomerCells / -cards muss festgelegt werden, welche und in welcher Reihenfolge diese generiert werden sollen.
 *    Hierfür wirde ein Array erzeugt, in dem die Namen in der gewünschten Reihenfolge eingtragen werden.
 * 
 *    Die verfügbaren Cards sind:
 *    customerid, vorname, nachname, geb_datum, email, tel_mobile_vorwahl, tel_mobile, tel_home_vorwahl, tel_home, strasse, haus_nr,
 *    plz, ort, energie, erstell_dat, marktgebiet, produkt, id_nr, startdatum, grundpreis, arbeitspreis, produkt_bonus, produkt_sofortbonus
 *    ads_mail, ads_phone, ads_post, usage, end_dat, iban, bic, bank, zaehler_nr, vertragsnr, abschlag
 *
 *      
 * 
 */

const { queryId, provider } = Astro.props;

let errorname = `customerCells_errorMsg`;
---

<div id="customerCells" 
    data-provider={provider} 
    data-query={queryId}>
  <span class="errormessage d-none" id={errorname}></span>
</div>
