<div 
        id="debugLog" 
        class="debug-window d-none"
    >
        <div class="debugLog--header">
            <i class="glyph glyph-code"> &nbsp; DebugLog &nbsp;</i> 
            <button 
                type="button" 
                onclick="debugWindowClear()"
            >   clear   
            </button>
        </div>
        <p>-- Initialisierung --</p>
    </div>
