<div 
        id="debugLog" 
        class="debug-window d-none"
    >
        <div class="debugLog--header">
            <div>
                <i class="glyph glyph-code"> &nbsp; DebugLog &nbsp;</i>
                <button
                    type="button"
                    onclick="debugWindowClear()"
                >   clear
                </button>
            </div>
            <button type="button" id="devLog_size_Btn" onclick="devlogSize()">Größer</button> 
        </div>
        <p>-- Initialisierung --</p>
    </div>
