<div id="tab_next_zusammenfassung_1" class="left_right go">
  <button onclick="event.preventDefault();switchTab('tab_zusammenfassung');return false;">
    <strong class="glyph"></strong>
    &nbsp;Verabschiedung
  </button>
</div>
