---
interface Props {
  auto?: boolean;
  queryLib?: boolean;
}
const { auto, queryLib} = Astro.props;
let sql = "auto";
if (queryLib===true) {
    sql = "queryLib";
}
---
<div 
    class="absenden" 
    id="div_publish"
>
    <button
        class="absenden__Btn"
        type="button"
        id="go_publish"
        onclick=`finish('${sql}')`
        >
            <i class="glyph glyph-final"></i>
                &nbsp; Auftrag abschließen
    </button>
</div>