---
interface Props {
  auto?: boolean;
  queryLib?: boolean;
  hidden?: boolean;
}
const { auto, queryLib, hidden} = Astro.props;
let sql = "auto";
if (queryLib===true) {
    sql = "queryLib";
}
let klasse = `absenden`;
let setClass = hidden ? `${klasse ? klasse : ''} d-none` : klasse;
---
<div 
    class={setClass}
    id="div_publish"
>
    <button
        class="absenden__Btn"
        type="button"
        id="go_publish"
        onclick=`finish('${sql}')`
        >
            <i class="glyph glyph-final"></i>
                &nbsp; Auftrag abschließen
    </button>
</div>