<div 
    class="absenden" 
    id="div_publish"
>
    <button
        class="absenden__Btn"
        type="button"
        id="go_publish"
        onclick="finish()"
        >
            <i class="glyph glyph-final"></i>
                &nbsp; Auftrag abschließen
    </button>
</div>