<div id="tab_next_zusammenfassung_1" class="left_right">
  <button onclick="switchTab('tab_zusammenfassung');return false;">
    <strong class="glyph"></strong>
    &nbsp;Verabschiedung
  </button>
</div>
