<div id="footer" class="footer">

  <div id="footer_button">
    <div class="go" id="div_go_negativ">
      <button
        id="go_negativ"
        type="button"
        data-id="freedial" 
        class="calldialog"
        ><i class="glyph glyph-telephone"></i>
        Freedial
      </button>
    </div>

    <div class="go" id="div_go_wiedervorlage">
      <button
        id="go_wiedervorlage"
        type="button"
        data-id="recall" 
        class="calldialog"
      >
        <i class="glyph glyph-calendar"></i>
        Wiedervorlage
      </button>
    </div>

    <div class="go" id="div_go_ane">
      <button
        id="go_ane"
        type="button"
        data-id="apne" 
        class="calldialog"
        ><i class="glyph glyph-apne"></i>
        APNE
      </button>
    </div>

    <form action="#" method="POST" id="finish_abfax">
      <div class="go" id="div_go_abfax">
        <button id="go_abfax" onclick="finish('abfax');return false;">
          <i class="glyph glyph-abfax"></i>
          AB/Fax/Modem
        </button>
      </div>
    </form>
