---
interface Props {
  id?: string;
  grp?: string;
  klasse?: string;
  hidden?: boolean;
}

const { id, grp, hidden, klasse } = Astro.props;
let setClass = hidden ? `${klasse ? klasse : ''} d-none` : klasse;
---
<section id={id} class={setClass} data-grp={grp}>
  <slot>
    
  </slot>
</section>
