---
interface Props {
  tabs: Array<Array<string>>;
}

const { tabs } = Astro.props as Props;
---

<div id="navigation">
  <div class="tabs">
    <button id="tab1" class="tab current" onclick="switchTab('tab_start');">
      Start
    </button>

    {
      tabs.map((item,index) => (
        <button
          id={`${item[0]}`}
          class= 'tab'
          onclick={`switchTab('${item[1]}')`}
        >
          {item[2]}
        </button>
      ))
    }
    
  </div>
</div>
