---
import Input from "@components/SimpleInput.astro";
import Select from "@components/SimpleSelect.astro";
---


<!-- -------------------------------- Freedial ------------------------------------- -->
<dialog id="freedial">
  <div class="dialog--header">
      <span>Freedial</span>
      <button id="freedial_closeBtn" type="button" class="closedialog" data-id="freedial"><i class="glyph glyph-close"></i></button>
  </div>
  <div>
      <h3>Bitte Rufnummer eingeben:</h3>
      <form action="#" method="POST" id="finish_negativ">
        <Input 
            type="tel"
            id="freedial_number"
            label="Rufnummer:"
            validate="tel"
        ></Input>
        <button
            id="freedial_callBtn"
            type="submit"
            onclick="freedialBtn()"  
            ><i class="glyph glyph-telephone"></i>
            Anrufen
        </button>
            
      </form>
  </div>
</dialog>
<!-- -------------------------------- Wiedervorlage ------------------------------------- -->
<dialog id="recall">
  <div class="dialog--header">
      <span>Wiedervorlage</span>
      <button id="recall_closeBtn" type="button" class="closedialog" data-id="recall"><i class="glyph glyph-close"></i></button>
  </div>
  <div>
    <h3>Bitte Wiedervorlagezeitraum bestimmen:</h3>
    <form action="#" method="POST" id="finish_wiedervorlage">
      <Input 
          label="Datum:"
          type="text"
          id="wiedervorlage_Date"
          validate="date"
      ></Input> 
      <!-- hier w체rde der KalenderBtn sein... wenn ich einen h채tte -->
      <Input 
          label="Uhrzeit:"
          type="text"
          id="wiedervorlage_Date"
          validate="date"
      ></Input>
      <Input 
          label="Notiz:"
          type="text"
          id="wiedervorlage_Text"
          validate="txt"
      ></Input>
      <button
          type="submit"
          id="recallBtn"
          onclick="wiedervorlageBtn()"
          ><i class="glyph glyph-save"> Speichern</i>
      </button>
    </form>
  </div>
</dialog> 

<!-- -------------------------------- APNE ------------------------------------- -->

<dialog id="apne">
  <div class="dialog--header">
      <span>Anrufpartner nicht erreicht</span>
      <button id="apne_closeBtn" type="button" class="closedialog" data-id="apne"><i class="glyph glyph-close"></i></button>
  </div>
  <div>
      <h3>Erneut kontaktieren nach:</h3>
      <form action="#" method="POST" id="finish_apne">
        <Select
           id="apne_delay"
           label="Zeitintervall:"
           options={[
              ["1", "eine Stunde"],
              ["2", "zwei Stunden"],
              ["3", "drei Stunden"],
              ["4", "vier Stunden"],
              ["5", "f체nf Stunden"],
              ["6", "sechs Stunden"],
              ["7", "sieben Stunden"],
              ["8", "acht Stunden"],
              ["20", "am n채chten Tag"],
            ]}
        ></Select>
        <Input 
            label="Notiz:"
            type="text"
            id="apne_notiz"
            validate="txt"
        ></Input>
        <button
            id="apneBtn"
            type="submit"
            onclick="apneBtn()"  
            ><i class="glyph glyph-save">Speichern</i>
        </button>
            
      </form>
  </div>
</dialog>
<dialog id="fst">
  <div class="dialog--header">
      <span>Feststelltaste aktiviert</span>
      <button id="fst_closeBtn" type="button" class="closedialog" onclick="fst_C" data-id="fst"><i class="glyph glyph-close"></i></button>
  </div>
  <div>
      <h3>Ich habe festgestellt, dass:</h3>
      <p class="fs_txt" id="fs_txt">test test</p>
  </div>
</dialog>