---
import Input from "@components/SimpleInput.astro";
import TxtArea from "@components/SimpleTextfield.astro";
import Select from "@components/SimpleSelect.astro";
---

<!-- -------------------------------- Freedial ------------------------------------- -->
<dialog id="freedial">
  <div class="dialog--header">
      <span class="dialog--headertxt">Freedial</span>
      <button id="freedial_closeBtn" type="button" class="closedialog" data-id="freedial"><i class="glyph glyph-close"></i></button>
  </div>
  <div class="dialog--body">
      <form action="#" method="POST" id="finish_NEG_freedial">
        <Input 
            type="tel"
            id="freedial_number"
            label="Bitte Rufnummer eingeben"
            validate="tel"
        ></Input>
        <button
            class="absenden__Btn minifyed"
            id="freedial_callBtn"
            type="button"
            onclick="callFreedial()"  
            ><i class="glyph glyph-telephone"></i>
            Anrufen
        </button>
            
      </form>
  </div>
</dialog>

<!-- -------------------------------- Wiedervorlage ------------------------------------- -->
<dialog id="recall">
  <div class="dialog--header">
      <span class="dialog--headertxt">Wiedervorlage</span>
      <button id="recall_closeBtn" type="button" class="closedialog" data-id="recall"><i class="glyph glyph-close"></i></button>
  </div>
  <div class="dialog--body">
    <h3>Bitte Wiedervorlagezeitraum bestimmen</h3>
    <form action="#" method="POST" id="finish_wiedervorlage">
      <div class="flex">
          <div>
              <Input
                  klasse="shortend__input"
                  label="Datum"
                  type="date"
                  id="wiedervorlage_Date"
                  validate="date"
              ></Input>
          </div>
          <!-- hier w체rde der KalenderBtn sein... wenn ich einen h채tte -->
          <div>
              <Input
                  klasse="shortend__input"
                  label="Uhrzeit"
                  type="time"
                  id="wiedervorlage_Date"
                  validate="date"
              ></Input>
          </div>
      </div>
      <TxtArea 
          klasse="textarea-expend"
          label="Notiz"
          col="1"
          row="1"
          id="wiedervorlage_Text"
      ></TxtArea>
      <button
          class="absenden__Btn minifyed"
          type="submit"
          id="recallBtn"
          onclick="wiedervorlageBtn()"
          ><i class="glyph glyph-save"> Speichern</i>
      </button>
    </form>
  </div>
</dialog> 

<!-- -------------------------------- APNE ------------------------------------- -->

<dialog id="apne">
  <div class="dialog--header">
      <span class="dialog--headertxt">Anrufpartner nicht erreicht</span>
      <button id="apne_closeBtn" type="button" class="closedialog" data-id="apne"><i class="glyph glyph-close"></i></button>
  </div>
  <div class="dialog--body">
      <h3>Anrufpartner erneut kontaktieren nach</h3>
      <form action="#" method="POST" id="finish_apne">
        <Select
           id="apne_delay"
           label="Zeitintervall"
           options={[
              ["1", "eine Stunde"],
              ["2", "zwei Stunden"],
              ["3", "drei Stunden"],
              ["4", "vier Stunden"],
              ["5", "f체nf Stunden"],
              ["6", "sechs Stunden"],
              ["7", "sieben Stunden"],
              ["8", "acht Stunden"],
              ["20", "am n채chten Tag"],
            ]}
        ></Select>
        <Input 
            label="Notiz"
            type="text"
            id="apne_notiz"
            validate="txt"
        ></Input>
        <button
            class="absenden__Btn minifyed"
            id="apneBtn"
            type="submit"
            onclick="apneBtn()"  
            ><i class="glyph glyph-save">Speichern</i>
        </button>
            
      </form>
  </div>
</dialog>
