---
import Input from "@components/SimpleInput.astro";
import TxtArea from "@components/SimpleTextfield.astro";
import Select from "@components/SimpleSelect.astro";
---

<!-- -------------------------------- Freedial ------------------------------------- -->
<dialog id="freedial" data-saved="0">
  <div class="dialog--header">
      <span class="dialog--headertxt">Freedial</span>
      <button id="freedial_closeBtn" type="button" class="closedialog" data-id="freedial"><i class="glyph glyph-close"></i></button>
  </div>
  <div class="dialog--body">
      <form action="#" method="POST" id="finish_freedial">
        <Input 
            type="tel"
            id="freedial_number"
            label="Bitte Rufnummer eingeben"
            validate="tel"
        ></Input>
        <button
            class="absenden__Btn minifyed"
            id="freedial_callBtn"
            type="button"
            onclick="finish('freedial')"  
            ><i class="glyph glyph-telephone"></i>
            Anrufen
        </button>
            
      </form>
  </div>
</dialog>

<!-- -------------------------------- Wiedervorlage ------------------------------------- -->
<dialog id="recall" data-saved="0">
  <div class="dialog--header">
      <span class="dialog--headertxt">Wiedervorlage</span>
      <button id="recall_closeBtn" type="button" class="closedialog" data-id="recall"><i class="glyph glyph-close"></i></button>
  </div>
  <div class="dialog--body">
    <h3>Bitte Wiedervorlagezeitraum bestimmen</h3>
    <form action="#" method="POST" id="finish_wiedervorlage">
      <div class="flex">
          <div>
              <Input
                  klasse="shortend__input mb_0"
                  label="Datum"
                  type="date"
                  id="wiedervorlage_date"
                  validate="date"
              ></Input>
              <span class="errormessage" id="wiedervorlage_date_error"></span>
          </div>
          <div>
              <Input
                  klasse="shortend__input mb_0"
                  label="Uhrzeit"
                  type="time"
                  id="wiedervorlage_time"
                  validate="time"
                  oc="productionTime()"
              ></Input>
              <span class="errormessage" id="wiedervorlage_time_error"></span>
          </div>
      </div>
      <div class="mt_1half">
          <TxtArea
              klasse="textarea-expend"
              label="Notiz"
              col="1"
              row="1"
              id="wiedervorlage_Text"
          ></TxtArea>
      </div>
      <button
          class="absenden__Btn minifyed"
          type="button"
          id="recallBtn"
          onclick="finish('wievor')"
          ><i class="glyph glyph-save"> Speichern</i>
      </button>
    </form>
  </div>
</dialog> 

<!-- -------------------------------- APNE ------------------------------------- -->

<dialog id="apne" data-saved="0">
  <div class="dialog--header">
      <span class="dialog--headertxt">Anrufpartner nicht erreicht</span>
      <button id="apne_closeBtn" type="button" class="closedialog" data-id="apne"><i class="glyph glyph-close"></i></button>
  </div>
  <div class="dialog--body">
      <h3>Anrufpartner erneut kontaktieren nach</h3>
      <form action="#" method="POST" id="finish_apne">
        <Select
           id="apne_delay"
           label="Zeitintervall"
           options={[
              ["apne1h", "eine Stunde"],
              ["apne2h", "zwei Stunden"],
              ["apne3h", "drei Stunden"],
              ["apne4h", "vier Stunden"],
              ["apne5h", "fünf Stunden"],
              ["apne6h", "sechs Stunden"],
              ["apne7h", "sieben Stunden"],
              ["apne8h", "acht Stunden"],
              ["apne20h", "am nächten Tag"],
            ]}
        ></Select>
        <TxtArea 
          klasse="textarea-expend"
          label="Notiz"
          col="1"
          row="1"
          id="apne_notiz"
      ></TxtArea>
        <button
            class="absenden__Btn minifyed"
            id="apneBtn"
            type="button"
            onclick="finish('apne')"  
            ><i class="glyph glyph-save">Speichern</i>
        </button>
            
      </form>
  </div>
</dialog>

<dialog id="adminDialog">
    <div class="dialog--header">
        <span class="dialog--headertxt">Fehlerhafte Ausführung</span>
        <button id="apne_closeBtn" type="button" class="closedialog" data-id="apne"><i class="glyph glyph-close"></i></button>
    </div>
    <div class="dialog--body">
        <h2>Bitte wenden Sie sich an den Administrator.</h2>
    </div>
</dialog>