---
interface Props {
  id: string;
  tab: String;
  isVisible?: boolean;
}

const { id, isVisible, tab } = Astro.props;
let visible = isVisible? "" : "d-none";
---

<section id={id} class=`page_content ${visible}` data-tab={tab}>
  <slot/>
</section>

