<section class="col-lg-2">
    <table>
      <tr>
        <th class="nextTopic">Kundendaten</th>
        <th class="nextTopic"></th>
      </tr>
      <tr></tr>
      <tr>
        <td>
          <p class="kd--head">Vorname</p>
          <p class="kd">Max</p>
        </td>
        <td>
          <p class="kd--head">Nachname</p>
          <p class="kd">Mustermann</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="kd--head">Straße</p>
          <p class="kd">Musterstr.</p>
        </td>
        <td>
          <p class="kd--head">HausNr.</p>
          <p class="kd">123</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="kd--head">Postleitzahl</p>
          <p class="kd">12345</p>
        </td>
        <td>
          <p class="kd--head">Ort</p>
          <p class="kd">Musterhausen</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="kd--head">Geb.-Datum</p>
          <p class="kd">01.07.1999</p>
        </td>
        <td>
          <p class="kd"></p>
          <p class="kd--head"></p>
        </td>
      </tr>
      <tr>
        <th class="nextTopic">
          Tarifdaten:
        </th>
        <th class="nextTopic"></th>
      </tr>
      <tr>
        <td>
          <p class="kd--head">DSL-Verf.</p>
          <p class="kd">VDSL</p>
        </td>
        <td>
          <p class="kd--head">Bestandstarif</p>
          <p class="kd">Ja</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="kd--head">Router</p>
          <p class="kd">SpeedPort 2</p>
        </td>
        <td>
          <p class="kd--head">Anschlussart</p>
          <p class="kd">Kupfer</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="kd--head">Festnetz</p>
          <p class="kd">040/23473234</p>
        </td>
        <td>
          <p class="kd--head">Mobil</p>
          <p class="kd">0152/6483298749</p>
        </td>
      </tr>
      <tr>
        <th class="nextTopic">
          Verkauf:
        </th>
        <th class="nextTopic"></th>
      </tr>
      <tr>
        <td>
          <p class="kd--head">Crosstarif:</p>
          <p class="kd">Produkt 1</p>
          <p class="kd">Produkt 3</p>
          <p class="kd">Produkt 5</p>
          <p class="kd">Produkt 7</p>
          <p class="kd">Produkt 9</p>
        </td>
        <td>
          <p class="kd--head">&nbsp;</p>
          <p class="kd">Produkt 2</p>
          <p class="kd">Produkt 4</p>
          <p class="kd">Produkt 6</p>
          <p class="kd">Produkt 8</p>
          <p class="kd">Produkt 10</p>
        </td>
      </tr>
  </table>
  </section>