---
interface Props {
    klasse?: string;  
}

const {klasse} = Astro.props;
---

<form
    class=`datenerf-bg ${klasse}`
    name="formular"
    method="POST"
    id="tabsForm"
> 
    <slot>
        
    </slot>
</form>