<div class="go nextpage grid-col_center">
  <div id="weiterBtn" class="d-none">
      <button 
          onclick='weiterBtn();' 
          type="button" 
          class="nextpage--btn">
        <i class="glyph glyph-outro"></i>
        Weiter
      </button>
  </div>
</div>
