$white: #fff;
$anthracite: #21333a;
$magenta: #f04678;
$green: #00c896;
$blue: #64b4ff;
$orange: #ff6450;
$yellow: #ffe72d;
$softwhite: #f4f5f5;
$lightgrey: #d9dada;
$darkgrey: #a9a7aa;
$backgroundgray: #f3f4f4;
$lightanthracite: #263a42;
$lightgreen: #d5f4ec;
$lightmagenta: #fee3eb;
$lightorange: #ffd1cb;
$lightblue: #ddefff;
$hovergreen: #00a37a;
$hovermagenta: #cc3b67;
$hoverorange: #db5644;
$hoverblue: #569bdb;
$hoveranthracite: #0d1417;
$hovergrey: #868487;
$black: #000;
$nav-border: #d9dada38;