$white: #fff;
$anthracite: #21333a;
$magenta: #f04678;
$green: #00c896;
$blue: #64b4ff;
$orange: #ff6450;
$yellow: #ffe72d;
$softwhite: #f4f5f5;
$lightgrey: #d9dada;
$darkgrey: #a9a7aa;
$darkergrey: #777575;
$backgroundgray: #f3f4f4;
$lightanthracite: #263a42;
$lightgreen: #d5f4ec;
$lightmagenta: #fee3eb;
$lightorange: #ffd1cb;
$lightblue: #ddefff;
$hovergreen: #00a37a;
$hovermagenta: #cc3b67;
$hoverorange: #db5644;
$hoverblue: #569bdb;
$hoveranthracite: #0d1417;
$hovergrey: #868487;
$black: #000;
$nav-border: #d9dada38;

$gray_background: #f3f4f4;
$gray_elements:#f1f1f1;
$gray_elements_bg: #d3d3d3;

$tabs_gray: #b5b9c4;

$bg_customer_blue: #78beff80;
$bg_customer_lightblue: #e5f3ff;
$font-disabled-gray: #ffffff94;
$bg_gray: #a9a7aa;
$bg_graysuit: #d4d5de;

$button-green: linear-gradient(to right top, #32de41, #4ee44d, #64ea59, #76ef64, #87f570, #86f46e, #85f46d, #84f36b, #71eb5b, #5de449, #44dc36, #1fd41f);
$button-lightgreen: linear-gradient(to top, #89e6ad, #8fecb3, #abe2c0, #dafae6, #abe2c0, #82cf9f, #87dfa9);
$button-red: linear-gradient(to right top, #de3232, #e54341, #ec5250, #f2605e, #f76e6d, #f66d6c, #f66c6a, #f56b69, #ee5b57, #e64945, #dd3632, #d41f1f);
$button-blue: linear-gradient(to right top, #3fb4ff, #18c1ff, #00ceff, #00daff, #00e5ff, #00e4ff, #00e4ff, #00e3ff, #00d6ff, #00c8ff, #00b9ff, #21a9ff);
$button-yellow: linear-gradient(to right top, #ffe53f, #ffe738, #ffea30, #ffec27, #ffef1c, #fff117, #fff412, #fff60b, #fff812, #fffb18, #fffd1d, #ffff21);
$button-gray: linear-gradient(to right top, #dcc7d8, #dfc8db, #e2cadd, #e5cbe0, #e8cce3, #e8cce3, #e7cce2, #e7cce2, #e3cadf, #dfc8dc, #dcc6d8, #d8c4d5);

