.wrapper {
  margin: 0 auto;
  padding: 0 .6rem;
}

.helper-bm2 {
  margin-bottom: $baseunit * 2;
}

.helper-tm2_5 {
  margin-top: $baseunit * 2.5;
  padding: 0 2em;
}

.helper-tm4 {
  margin-top: $baseunit * 4;
}

.bg-gray {
  background-color: $backgroundgray;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.placeholder {
  height: 10px;
}

.helper_bp-35 {
  padding-bottom: 35px;
}