---
interface Props {
	title: string;
	campaignNr: string;
	jsFiles: Array<String>;
}

const { title, campaignNr, jsFiles } = Astro.props;
import "../styles/main.scss";

---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title + campaignNr}</title>

		<!-- do not touch  -->

		<!-- Campaign specific file loading -->
			{jsFiles.map((data) => (
			<>
			    <script type="text/javascript" src={`${campaignNr}/js/${data}`}></script></>
			))}
			<script type="text/javascript" 	  src="include/js/provider_lib.js"></script>
			<script type="text/javascript" 	  src="include/js/query_lib.js"></script>
			<script type="text/javascript" 	  src="include/js/new_js_workbench.js"></script>

			<script type="text/javascript"    src="include/js/prototype/prototype.js"></script>
			<script type="text/javascript"    src="include/js/prototype/scriptaculous.js"></script>
			<script type="text/javascript"    src="include/js/prototype/builder.js"></script>
			<script type="text/javascript"    src="include/js/prototype/effects.js"></script>
			<script type="text/javascript"    src="include/js/prototype/dragdrop.js"></script>
			<script type="text/javascript" 	  src="include/jquery/jquery.js"></script>

			<script> jQuery.noConflict(); </script>

			<script type="text/javascript" src="include/jquery/jquery-ui.js"></script>
			<script type="text/javascript" src="include/jquery/jquery.multi-select.js" type="text/javascript"></script>
			<script type="text/javascript" src="include/js/functions.js"></script>
			<script type="text/javascript" src="include/js/test.js"></script>
			<script type="text/javascript" src="include/js/texte.js"></script>
			<script type="text/javascript" src="include/js/general.js"></script>
			<script type="text/javascript" src="include/js/validators.js"></script>
			<script type="text/javascript" src="include/js/iban-perso.js"></script>
			<script type="text/javascript" src="include/js/database.js"></script>
			<script type="text/javascript" src="include/js/calendar/calendar.js"></script>
			<script type="text/javascript" src="include/js/calendar/calendar-lang.js"></script>
			<script type="text/javascript" src="include/js/calendar/calendar-setup.js"></script>
			
			<!-- <script language="javascript" type="text/javascript"  src="..\..\include\ttWeb-interface.js"></script> -->

			<link rel="stylesheet" type="text/css" media="screen" href="include/css/general.css" />
			<link rel="stylesheet" type="text/css" media="screen" href="include/css/outbound.css" />
			<link rel="stylesheet" type="text/css" media="screen" href="include/css/calendar.css" />
			<link rel="stylesheet" href="include/jquery/jquery-ui.css">
			<link rel="stylesheet" href="include/jquery/css/multi-select.css" media="screen" type="text/css">

			
		<!-- do not touch - END -->
	</head>
	<body class="">
		<slot />
		<!-- ! Statt onload="" auf dem <body> hier am Ende der Seite geladen -->
		<script>
			document.addEventListener('DOMContentLoaded', gf_javaf_initialize());
			let keyCode1Pressed = false;
			let keyCode2Pressed = false;
			let keyCode3Pressed = false;
			document.onkeyup = function(event) {
				event = event || window.event;
				if (event.keyCode === 220) { 
					keyCode1Pressed = false;
				} else if (event.keyCode === 17) { 
					keyCode2Pressed = false;
				} else if (event.keyCode === 67) { 
					keyCode3Pressed = false;
				}
			};
			document.onkeydown = function(event) {
				event = event || window.event;
				if (event.keyCode === 220) { 
					keyCode1Pressed = true;
				} else if (event.keyCode === 17) { 
					keyCode2Pressed = true;
				}  else if (event.keyCode === 67) { 
					keyCode3Pressed = true;
				}

				if (keyCode1Pressed && keyCode2Pressed) {
					document.getElementById("debugLog").classList.toggle("d-none");
					console.log("Debuglog geöffnet!");
				}
				if (keyCode2Pressed && keyCode3Pressed) {
					document.getElementById("debugLog").innerHTML = `<button type="button" onclick="debugWindowClear()">clear</button>`;
				}
			};
		</script>
	</body>
</html>
